page-profile {
    height: 100vh;

    .myOverlay{
        position: relative;
        bottom: 110%;
        left: -10px;
        color: white;
        text-shadow: 1px 1px darkgray;
        font-size: 1.2em;
        background: rgba(2, 2, 2, 0.8);
        // border-top-right-radius: 50%;
        // border-top-left-radius: 50%;
        // height: 50px;
        // line-height: 45px;

        // Semi-circle shape
        // width: 200px;
        // height: 80px;
        // /* background-color: gold; */
        // border-top-left-radius: 100px;
        // border-top-right-radius: 100px;
        border: 2px solid rgb(61, 7, 221);
        // border-bottom: 0;
        line-height: 16px;
        
        // -webkit-box-sizing: border-box;
        // -moz-box-sizing: border-box;
        // box-sizing: border-box;

        // Semi-oval shape
        width: 250px;
        height: 55px;
        border-radius: 50% / 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    img{
        border-radius: 50% 50%;
    }

    // .customFabs{
    //     position: relative;
    //     top: 75px !important;
    //     left: 78%;
    // }
}
