page-home {

    ion-content{
      // color: white !important;
      background: linear-gradient(90deg, rgba(241,229,234,1) 0%, rgba(196,223,228,0.944397742006959) 100%); 
    }
    .bckG{
      background: rgba(255, 254, 254, 0); 
    }
    div.scroll-content{
      padding-top: 7%;
    }

    ion-row.row, ion-col.col, ion-grid.grid{
      padding-left: 0;
      padding-right: 0;
    }

    h2{
      padding: none;
      margin: none;
    }

    .cover{
      object-fit: cover;
      width: 55vw;
    }

    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 3.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
      
    .icons-list{
        list-style: none;
        padding-left: 0;
        padding-right: 0;

        li{
            margin-top: 1%;
            align-content: flex-start;
        }

        ion-icon{
            margin-right: 2%;
        }
    }

    ion-buttons[start] {
      order: 2;
    }

}
