<ion-menu id="leftMenu" [content]="content" side="left" type="reveal" persistent="true">
  <ion-header color="dark">
    <ion-toolbar color="dark" text-center>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-grid padding>

      <ion-row padding-top>
          <ion-col text-center>
              Bienvenido, 
          </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col text-center>
          <span *ngIf="authProv.token">{{ authProv.token.user.name }}</span>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center align-items-center padding>
          <ion-col></ion-col>
          <ion-col col-6 text-center>
            <ion-avatar>
              <img class="myImg" src="assets/imgs/woll-smoth-2.PNG">
            </ion-avatar>
          </ion-col>
          <ion-col></ion-col>
      </ion-row>
    </ion-grid>
                    
    <ion-list id="pagesList" *ngIf="pages" padding>
      <button menuClose ion-item (click)="goToPage(pages[0])"><ion-icon name="home" item-start item-start></ion-icon>{{ pages[0].name }}</button>
      <button menuClose ion-item (click)="goToPage(pages[1])"><ion-icon name="person" item-start></ion-icon>{{ pages[1].name }}</button>
      <button menuClose ion-item (click)="goToPage(pages[2])"><ion-icon name="search" item-start></ion-icon>{{ pages[2].name }}</button>
      <button menuClose ion-item (click)="goToPage(pages[3])"><ion-icon name="list" item-start></ion-icon>{{ pages[3].name }}</button>
      <button menuClose ion-item (click)="logout()"><ion-icon name="log-out" item-start></ion-icon>Cerrar sesión</button>
    </ion-list>

  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
